.dialog-background{
    z-index: 1000;
    position: fixed;
    top:0px;
    left: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    background: #000000bf;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#333;
    text-align: center;
}

.dialog-background .dialog{
    width: 90%;
    min-height: 100px;
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
}
.dialog .title {
    display: flex;
    font-size: 1.2rem;
    justify-content: space-between;
    color:#333;
    align-items: center;
}
.dialog-body{
    padding-top: 30px;
    padding-bottom: 30px;
}